<app-content-wrapper [contentLoaded]="contentLoaded">
  <div pageHeader>
    <h1>{{ shoppingList.listName }}</h1>
    <ul class="list-of-items">
      <li *ngFor="let item of shoppingList.items" class="shopping-list-item">
        <span
          class="item-checkbox"
          [ngClass]="{ 'selected-checkbox': true }"
          (click)="toggleCheckbox(item)"
          ><span class="checkbox-x" *ngIf="item.purchased">X</span></span
        >
        {{ item.itemName }}
      </li>
    </ul>
  </div>
  <div pageContent>
    <button class="btn btn-primary" (click)="addShoppingListItem()">
      Add Item +
    </button>
  </div>
</app-content-wrapper>
