<app-content-wrapper [contentLoaded]="contentLoaded">
  <div pageHeader>
    <button class="btn btn-secondary back-button" (click)="onClickBackButton()">
      <fa-icon [icon]="icon.faArrowLeft"></fa-icon>
      <span class="small">Shopping lists</span>
    </button>
    <h1>{{ shoppingList.listName }}</h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Item</th>
          <th scope="col">Qty.</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of shoppingList.items; index as i">
          <td scope="row">
            <span
              class="item-checkbox"
              [ngClass]="{ 'selected-checkbox': item.purchased }"
              (click)="toggleCheckbox(item)"
              ><span *ngIf="item.purchased">X</span>
            </span>
          </td>

          <td scope="row">
            <span [ngClass]="{ 'purchased-item-name': item.purchased }">
              {{ item.itemName }}
            </span>
          </td>

          <td scope="row">
            <span>
              {{ item.quantityNeeded }}
            </span>
          </td>

          <td scope="row">
            <fa-icon
              class="delete-button"
              (click)="deleteItemFromShoppingList(item, i, shoppingList)"
              [icon]="icon.faTrashAlt"
            ></fa-icon>
          </td>

          <td scope="row">
            <fa-icon
              class="edit-button"
              (click)="editShoppingListItem(item, i)"
              [icon]="icon.faPencilAlt"
            ></fa-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div pageContent>
    <button class="btn btn-primary" (click)="addShoppingListItem()">
      Add Item +
    </button>
  </div>
</app-content-wrapper>
