<div class="modal-header">
  <h4 class="modal-title">Create New Exercise</h4>

  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <form #f="ngForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input
        type="text"
        class="form-control"
        name="exerciseName"
        id="name"
        ngModel
        placeholder="Enter name"
        #nameInput="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="exerciseDescription">Description</label>
      <textarea
        class="form-control"
        id="exerciseDescription"
        name="exerciseDescription"
        ngModel
        #exerciseDescriptionInput="ngModel"
        rows="3"
        placeholder="Describe how this exercise should be preformed."
      ></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" (click)="onSubmit(f)">
    Submit
  </button>
</div>
