<app-content-wrapper [contentLoaded]="true">
  <div class="page-container">
    <h1>This feature is not available yet</h1>
    <p>
      Our team of highly adult developers are working around the clock to bring
      more awesome features to this app.
    </p>
    <div class="gif-container">
      <img src="https://media.giphy.com/media/H1dxi6xdh4NGQCZSvz/giphy.gif" />
    </div>
    <p>This one is currently in progress. It's going to be...</p>

    <div class="gif-container">
      <img src="https://media.giphy.com/media/l0HefZY0mFfLS9AFa/giphy.gif" />
    </div>
  </div>
</app-content-wrapper>
