@import 'src/app/scss-partials/main.scss';

.content-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  padding-left: 10px;
  padding-right: 10px;
}

.content-container {
  margin-top: 10px;
}

.loading-spinner-container {
  display: flex;
  align-items: center;
  height: 60vh;
  flex-wrap: wrap;
  padding-left: $spacing-small;
  padding-right: $spacing-small;
  justify-content: center;
}
