<div
  *ngIf="quotesLoaded"
  class="quotes-container"
  [@fadeIn]
  [@quoteState]="quoteState"
>
  <span class="body-text header-and-footer-text"
    >{{ quoteToDisplay?.quoteToDisplay }} &#160;-&#160;{{
      quoteToDisplay?.whoSaidIt
    }}
  </span>
</div>

<div class="loading-spinner-container" *ngIf="!quotesLoaded">
  <app-loading-spinner></app-loading-spinner>
</div>

<!-- I can use this syntax to display the list of workouts from an observable asyncronously -->
<!-- <div *ngFor="let quote of quotesObservable | async">
  <p>{{ quote.quoteToDisplay }}</p>
</div> -->
