<div class="modal-header">
  <h4 class="modal-title">{{ message }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>

<div class="modal-body">
  <form #f="ngForm" (ngSubmit)="onSubmit()" class="check-availablility-form">
    <div class="form-group">
      <label>*Item Name</label>
      <input
        class="form-control"
        type="text"
        required
        name="itemName"
        [(ngModel)]="shoppingListItem.itemName"
        required
      />
    </div>

    <div class="form-group">
      <label>Quantity Needed</label>
      <input
        class="form-control"
        type="number"
        min="0"
        name="quantityNeeded"
        [(ngModel)]="shoppingListItem.quantityNeeded"
      />
    </div>

    <!-- TODO finish this category picker-->
    <!-- <div class="form-group">
      <div ngbDropdown>
        <button type="button" class="btn btn-outline-primary" ngbDropdownToggle>
          Department
        </button>

        <div class="dropdown-menu" ngbDropdownMenu>
          <button ngbDropdownItem>PersonalCare</button>
          <button ngbDropdownItem>Grocery</button>
          <button ngbDropdownItem>Appliances</button>
          <button ngbDropdownItem>Home</button>
          <button ngbDropdownItem>Beauty</button>
          <button ngbDropdownItem>Pharmacy</button>
          <button ngbDropdownItem>Sports</button>
          <button ngbDropdownItem>Outdoors</button>
          <button ngbDropdownItem>PartySupplies</button>
          <button ngbDropdownItem>Garden</button>
          <button ngbDropdownItem>Baby</button>
          <button ngbDropdownItem>Automotive</button>
          <button ngbDropdownItem>One</button>
          <button ngbDropdownItem>Electronics</button>
          <button ngbDropdownItem>HomeImprovement</button>
          <button ngbDropdownItem>Apparel</button>
        </div>
      </div>
    </div> -->
  </form>
</div>

<div class="modal-footer">
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="!f.valid"
    (click)="onSubmit()"
  >
    Add item
  </button>
</div>
