@import 'src/app/scss-partials/main.scss';

.navbar {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  align-items: center;
  min-height: $page-header-and-footer-height;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid black;
  background-color: white;
}
