<!-- <div *ngIf="user.isLoggedIn">
    <p>Welcome {{ user.name }}</p>
    <app-quotes></app-quotes>
  </div> -->

<nav class="navbar navbar-expand-lg navbar-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand">Adultery</a>

    <button
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      &#9776;
    </button>

    <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <span ngbDropdown>
            <a class="nav-link" [routerLink]="'.'" ngbDropdownToggle>Fitness</a>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button ngbDropdownItem (click)="isMenuCollapsed = true">
                Exercises
              </button>
              <button ngbDropdownItem (click)="isMenuCollapsed = true">
                Workouts
              </button>
              <button ngbDropdownItem (click)="isMenuCollapsed = true">
                Plans
              </button>
            </div>
          </span>
        </li>
        <li class="nav-item active">
          <span ngbDropdown>
            <a class="nav-link" [routerLink]="'.'" ngbDropdownToggle>Finance</a>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button ngbDropdownItem (click)="isMenuCollapsed = true">
                Budgets
              </button>
            </div>
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>
