<div class="modal-header">
  <h4 class="modal-title">Create New Shopping List</h4>

  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <form #f="ngForm">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        name="name"
        id="name"
        ngModel
        placeholder="Enter name"
        #nameInput="ngModel"
      />
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" (click)="onSubmit(f)">
    Submit
  </button>
</div>
