@import 'src/app/scss-partials/main.scss';

.adultery-page-content {
  overflow: scroll;
  margin-top: $page-header-and-footer-height;
  display: flex;

  justify-content: center;
}

.adultery-page-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

// .logged-in-footer {
//   overflow: scroll;

//   border-top: 1px solid black;
// }
