@import 'src/app/scss-partials/main.scss';

.tubular-page-content {
  border: 2px solid black;
  height: calc(100vh - ($page-header-and-footer-height * 2));
}

.tubular-page-header,
.tubular-page-footer {
  height: $page-header-and-footer-height;
  overflow: scroll;
}
