<!-- TODO: Make a component for this -->

<div class="home-page-section">
  <div class="home-page-section-title">
    <h1>An app to make adulting easier</h1>
    <h1>So you can be a kid again</h1>
  </div>

  <app-animation animationKey="kidAgainAnimation"></app-animation>

  <div class="login-or-sign-up-buttons-container">
    <button type="button" class="btn btn-primary">Login</button>
    <button type="button" class="btn btn-primary">Sign Up</button>
  </div>
</div>

<div class="home-page-section">
  <div class="home-page-section-title">
    <h1>Reach your fitness goals</h1>
  </div>

  <app-animation animationKey="fitnessAnimation"></app-animation>
</div>

<div class="home-page-section">
  <div class="home-page-section-title">
    <h1>Impress your mom</h1>
    <h1>with your time management skills</h1>
  </div>

  <app-animation animationKey="timeManagementAnimation"></app-animation>
</div>

<div class="home-page-section">
  <div class="home-page-section-title">
    <h1>Be your financial best</h1>
  </div>

  <app-animation animationKey="financeAnimation"></app-animation>
</div>
