@import 'src/app/scss-partials/main.scss';

.right-header-content {
  justify-self: flex-end;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  align-items: center;
  min-height: $page-header-and-footer-height;
}
