.add-button {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: rgb(243, 243, 243);
}

fa-icon {
  font-size: 3.5em;
}
