@import './scss-partials/main.scss';

.logo-font {
  font-family: $logo-font;
  color: blue;
}

// These are temporary styles just to show off the loading spinner
.content {
  display: flex;
  justify-content: center;
  height: $page-content-height;
}
