<div class="modal-header">
  <h4 class="modal-title">Create New Group</h4>

  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <form #f="ngForm">
    <div class="form-group">
      <label for="groupName">Group Name</label>
      <input
        type="text"
        class="form-control"
        name="groupName"
        id="groupName"
        ngModel
        #groupNameInput="ngModel"
      />
    </div>
    <div class="form-group"></div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" (click)="onSubmit(f)">
    Submit
  </button>
</div>
