<div class="modal-header">
  <h4 class="modal-title">
    {{ groupToEdit ? 'Edit Group' : 'Create New Group' }}
  </h4>

  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <form #f="ngForm">
    <div class="form-group">
      <label for="groupName">Group Name</label>
      <input
        type="text"
        class="form-control"
        name="groupName"
        id="groupName"
        required=""
        [(ngModel)]="groupModel.groupName"
      />
    </div>
    <div class="form-group"></div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="submit"
    class="btn btn-primary"
    (click)="onSubmit(f)"
    [disabled]="!f.valid"
  >
    Submit
  </button>
</div>
