.exercise-item-container {
  border: 2px solid grey;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 20%;
  padding: 10px;
}

.tag-container {
  display: flex;
  gap: 5px;
}

fa-icon {
  margin-left: auto;
  cursor: pointer;
}

.name-container {
  width: 200px;
}
