// Global variables
$page-header-and-footer-height: 90px;
// $page-content-height: calc(100vh - ($page-header-and-footer-height * 2)); I can use this variable on the native app if I want the sticky footer

// Spacings
$spacing-small: 10px;
$spacing-medium: 20px;

/*
* Screen size mixins
* Usage: @include layout.for-tablet-portrait-up {margin-left: -0.1em;}
*/
@mixin for-phone-only {
  @media (max-width: 649px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 650px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 908px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1170px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
