<app-content-wrapper [contentLoaded]="contentLoaded">
  <div pageHeader>
    <h1>Groups</h1>
  </div>
  <div pageContent>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Group Name</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let group of groups">
          <td scope="row">{{ group.groupName }}</td>
          <td scope="row"></td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-primary" (click)="addNewGroup()">Add Group +</button>
  </div>
</app-content-wrapper>
